[Unit]
Description=Peat Detector
After=network.target

[Service]
ExecStart=/home/pi/git/peat_detector/assets/run.sh
Restart=on-failure
StartLimitBurst=2

[Install]
WantedBy=multi-user.target
