[Unit]
Description=Peat Detector
After=network.target

[Service]
#WorkingDirectory=/home/pi/git/peat_detector/app/ 
#Environment="PATH=/home/pi/.local/bin/gunicorn"
ExecStart=python3 -m gunicorn --bind 0.0.0.0:5000 wsgi:app --chdir=/home/pi/git/peat_detector/app
#ExecStart=sudo sh /opt/Vimba_5_0/VimbaUSBTL/Install.sh
Restart=always

[Install]
WantedBy=multi-user.target

